---
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "src/consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout
  metadata={{ title: SITE_TITLE, description: SITE_DESCRIPTION }}
  pageTitle="Blog"
>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>
            <h2 class="title">{post.data.title}</h2>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
