---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  metadata={{
    title: "Maximilian von Stephanides",
    description:
      "Maximilian von Stephanides is a software engineer living in Oslo, Norway",
  }}
  pageTitle="Maximilian von Stephanides"
>
  <h1>About me</h1>
  <p>
    Maximilian von Stephanides is a software engineer based in Oslo, Norway,
    known for his keen eye for innovation and a deep passion for
    problem-solving. With a robust background in computer science, he
    specializes in crafting scalable microservices using Node.js and TypeScript,
    ensuring seamless data management with Postgres. Maximilian thrives in the
    dynamic environment of fintech, where his work focuses on enhancing payment
    systems and developing secure, user-friendly digital solutions. His
    meticulous approach to testing—employing tools like Jest and
    Cucumber—reflects a commitment to delivering reliable, high-quality
    software. Outside his professional pursuits, Maximilian is an advocate for
    collaborative growth, often mentoring junior developers and participating in
    Oslo's vibrant tech meetups.
  </p>
  <p>
    Beyond his career, Maximilian leads a life of balance and ambition. A
    competitive powerlifter, he dedicates significant time to rigorous training,
    setting and surpassing personal records that highlight his discipline and
    determination. His passion for innovation extends to his hobby projects,
    where he explores entrepreneurial ideas with the aim of building meaningful
    digital products. Maximilian finds inspiration in Oslo's unique blend of
    natural beauty and urban sophistication, often drawing parallels between the
    structured elegance of his code and the pristine landscapes of Norway. With
    a clear vision for the future, he dreams of expanding his career globally,
    while continuing to push boundaries both in tech and in the lifting arena.
  </p>
</BaseLayout>
