---
import FormattedDate from "./FormattedDate.astro";

interface Props {
  title: string;
  description: string;
  pubDate: Date;
}

const { title, description, pubDate } = Astro.props;
---

<div class="blog-container">
  <h2 class="blog-title">{title}</h2>
  <p class="blog-date">
    <FormattedDate date={pubDate} />
  </p>
  <p class="blog-description">{description}</p>
</div>

<style>
  .blog-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    border: var(--card-border);
    border-radius: var(--border-radius);
    padding: var(--spacer-medium);
  }

  .blog-title {
    font-size: var(--font-size-header);
    margin-bottom: var(--spacer-very-small);
  }

  .blog-date {
    color: var(--text-color-secondary);
    margin-bottom: var(--spacer-small);
    font-size: var(--font-size-secondary);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-uppercase);
    font-weight: var(--font-weight-bold);
  }

  .blog-description {
    color: var(--text-color-primary);
  }
</style>
