---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Maximilian von Stephanides. All rights reserved.
  <div class="social-links">
    <a href="https://x.com/maximilianvons" target="_blank">
      <Icon name="brand-x" class="icon" />
    </a>
    <a href="https://github.com/maxvons" target="_blank">
      <Icon name="brand-github" class="icon" />
    </a>
  </div>
</footer>
<style>
  @import "@styles/mixins.css";

  footer {
    @mixin centered-container;
    flex-flow: column nowrap;
    gap: var(--spacer-small);
    background-color: var(--backround-color-footer);
    color: var(--text-color-secondary);
    font-size: var(--font-size-secondary);
    text-align: center;
  }
  .social-links {
    @mixin centered-container;
    gap: var(--spacer-small);
  }

  .icon {
    color: var(--icon-color);
    height: 32px;
    width: 32px;
  }
</style>
