---
import { SITE_TITLE } from "../consts";
import { Icon } from "astro-icon/components";

const { class: className, ...rest } = Astro.props;
---

<header class={className} {...rest}>
  <nav>
    <h2 class="logo"><a href="/">{SITE_TITLE}</a></h2>
    <div class="social-links">
      <a href="https://x.com/maximilianvons" target="_blank">
        <Icon name="brand-x" class="icon" />
      </a>
      <a href="https://github.com/maxvons" target="_blank">
        <Icon name="brand-github" class="icon" />
      </a>
    </div>
  </nav>
</header>

<style>
  @import "@styles/mixins.css";

  header {
    margin: 0;
    background-color: var(--background-color-nav);
    width: var(--nav-width);
  }
  .logo {
    color: var(--text-color-title);
    font-size: var(--font-size-logo);

    a {
      text-decoration: none;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .social-links {
    display: flex;
    gap: var(--spacer-small);
  }

  .icon {
    color: var(--icon-color);
    height: 32px;
    width: 32px;
  }
</style>
