---
import { SITE_TITLE } from "../consts";

const { class: className, ...rest } = Astro.props;
---

<header class={className} {...rest}>
  <nav>
    <h2 class="logo"><a href="/">{SITE_TITLE}</a></h2>
    <div class="links">
      <a href="/blog">Blog</a>
      <a href="/about">About</a>
    </div>
  </nav>
</header>

<style>
  @import "@styles/mixins.css";

  header {
    margin: 0;
    background-color: var(--background-color-nav);
    width: var(--nav-width);
  }
  .logo {
    color: var(--text-color-title);
    font-size: var(--font-size-logo);

    a {
      text-decoration: none;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .links {
    display: flex;
    gap: var(--spacer-small);
  }
</style>
